.homepage {
    .__link {
        min-height: 80px;
        line-height: 80px;
    }
}

.bg-success-50 {
    background-color: rgba(25, 135, 84, 0.5);
}

.bg-danger-50 {
    background-color: rgba(220, 53, 69, 0.5);
}
